.login {
    width: 1050px;
    margin: 90px 0 60px 0;
}

.loginDiv_1 {
    text-align: center;
    font-weight: 800;
    font-size: 20px;
}

.loginForm {
    margin: 0 auto;
    width: 340px;
}

.loginDiv_2 {
    margin-top: 30px;
}

.LogInput {
    width: 340px;
    height: 60px;
}

.LoginText {
    width: 100%;
    height: 46px;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 0 11px 1px 15px;
    font-weight: 400;
    outline: none;
}