.headerNav{
  width: 1050px;
  box-shadow: rgb(0 0 0 / 7%) 0px 3px 0px 0px;
}

.navb {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 80px;
  margin: 0 auto;
}

li a {
    color: black;
    text-decoration: none;
}

.navbUl {
  display: flex;

}

.navbUl > li {
  width: 150px;
  cursor: pointer;
  list-style: none;
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
  font-size: 20px;
}

.navbUl > li > a:hover {
  color: purple;
  text-decoration-line: underline;
  text-decoration-color: purple;
}

.navCa {
  width: 100px;
  cursor: pointer;
  list-style: none;
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
  font-size: 20px;
}

.navbBtn {
  margin-top: 30px;
  width: 150px;
  font-size: 14px;
}

.navbBtn_1 {
  border: 1px solid rgb(196, 194, 194);
  background-color: white;
  padding: 5px;
  border-radius: 15px;
}

.navBtnSpan {
  color: purple;
}

.Navbar_sub {
  padding: 0;
  position: absolute;
  z-index: 999;
  width: 150px;
  display: none;
  background-color: white;
  border: 1px solid rgb(196, 194, 194);
  margin-top: 20px;
}
.Navbar_sub > li {
  margin-top: 10x;
  padding: 5px 0;
  font-size: 16px;
}

.Navbar_sub > li:hover {
  background-color: rgb(197, 197, 197);
}

.navCa:hover > .Navbar_sub {
  display: block;
}

.sub {
  height: 50px;
  text-align: center;
  line-height : 40px;
}

.sub_sub {
  position: absolute;
  left: 100%;
  width: 200px;
  top: 0;
  visibility: hidden;
  background-color: rgb(226, 226, 226);
  border: 1px solid rgb(196, 194, 194);
  padding: 0;
  max-height:600px;
  overflow:auto;
}

.Navbar_sub li:hover > .sub_sub {
  visibility: visible;
} 

.sub_sub li {
  margin-top: 10px;
  padding: 5px 0;
  font-size: 16px;
}

.sub_sub li:hover {
  color: purple;
  text-decoration-line: underline;
  text-decoration-color: purple;
}