.Category {
    width: 1050px;
    margin: 50px auto;
}

.list {
    place-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin-bottom: 50px;
}

.list li {
    padding: 10px;
}

.list > li > button {
    padding: 10px 20px;
    border-radius: 15px;
    background: rgb(247, 247, 247);
    border: none ;
}

.list > li > button:hover {
    color: purple;
    text-decoration-color: purple;
}

.list> li > .clicked_listBtn { /*클릭 시 적용되는 style 속성*/
    color: white;
    background: purple;
}

.list> li > .clicked_listBtn:hover {
    color: white;
}

.CategoryBtn_1 {
    border: 1px solid rgb(196, 194, 194);
    font-size: 16px;
    width: 300px;
    background-color: white;
    height: 60px;
}

.CategoryBtn {
    width: 1050px; 
    text-align : center;
}